.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFF;
}
  .div-2 {
    align-self: center;
    display: flex;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-3 {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 0.98;
    object-fit: contain;
    object-position: center;
    width: 48px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .school-name h1 {
    margin: 0;
    color: #000;
    font-size: 1.2em;
}
  .div-5 {
    align-self: end;
    display: flex;
    margin-top: 28px;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 0 20px;
  }
  .div-6 {
    color: #000;
    text-align: center;
    margin-right: -20px;
    white-space: nowrap;
    font: 700 25px/30px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    margin: 17px -20px 0 0;
    font: 500 18px/22px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      white-space: initial;
    }
  }
  .div-8 {
    background-color: #000;
    align-self: stretch;
    min-height: 1px;
    margin-top: 24px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    align-self: stretch;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-10 {
    disply: flex;
    flex-direction: column;
    color: #34c9d3;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    min-height: 75px;
    width: 470px;
    padding: 21px 20px 28px 45px;
    font: italic 700 25px/30px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      padding-left: 10px;
    }
  }
  .img-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-11 {
    position: relative;
  }
  .div-12 {
    color: #6c7cd3;
    text-align: center;
    background-color: #98ed8a;
    flex-grow: 1;
    padding: 6px 8px 13px 5px;
    font: italic 700 25px/30px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
    }
  }
  .div-13 {
    background-color: #0096ff;
    align-self: stretch;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 0 80px 0 47px;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .img-3 {
    aspect-ratio: 5.94;
    object-fit: contain;
    object-position: center;
    width: 107px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .img-4 {
    aspect-ratio: 10.08;
    object-fit: contain;
    object-position: center;
    width: 131px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .img-5 {
    aspect-ratio: 11.41;
    object-fit: contain;
    object-position: center;
    width: 194px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .img-6 {
    aspect-ratio: 9.36;
    object-fit: contain;
    object-position: center;
    width: 206px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-14 {
    disply: flex;
    flex-direction: column;
    fill: #00f;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    aspect-ratio: 1.5526315789473684;
    width: 118px;
    align-items: start;
    padding: 32px 20px;
  }
  .img-7 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-8 {
    aspect-ratio: 4;
    object-fit: contain;
    object-position: center;
    width: 52px;
    overflow: hidden;
    margin-left: 19px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-8 {
      margin-left: 10px;
    }
  }
  .div-15 {
    align-self: stretch;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-16 {
    color: #fff;
    text-align: center;
    max-width: 275px;
    border: 1px solid #000;
    background-color: #00f;
    flex-grow: 1;
    align-items: center;
    padding: 32px 20px 25px;
    font: 500 24px/29px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
    }
  }
  .div-17 {
    color: #000;
    text-align: center;
    max-width: 402px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    align-items: center;
    padding: 31px 20px 25px;
    font: 500 24px/29px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .div-18 {
    color: #000;
    text-align: center;
    max-width: 259px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    align-items: center;
    padding: 31px 20px;
    font: 500 24px/29px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
    }
  }
  .div-19 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1236px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-20 {
    align-self: start;
    display: flex;
    margin-top: 82px;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-20 {
      margin-top: 40px;
    }
  }
  .div-21 {
    color: #000;
    text-align: center;
    align-self: stretch;
    white-space: nowrap;
    font: 500 16px/19px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      white-space: initial;
    }
  }
  .div-22 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    border-radius: 10px;
    background-color: #d9d9d9;
    align-self: start;
    margin-top: 6px;
    aspect-ratio: 2.2903225806451615;
    padding: 9px 12px;
    font: 500 16px/19px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      white-space: initial;
      padding-right: -1px;
    }
  }
  .div-23 {
    color: #000;
    text-align: center;
    align-self: stretch;
    margin-top: 22px;
    white-space: nowrap;
    font: 500 16px/19px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
    }
  }
  .div-24 {
    color: #000;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    align-self: stretch;
    margin-top: 20px;
    align-items: end;
    padding: 12px 20px;
    font: 400 16px/19px Inter, sans-serif;
  }
  .div-25 {
    justify-content: center;
    color: #000;
    text-align: center;
    border-radius: 45px;
    background-color: #0096ff;
    align-self: center;
    margin-top: 280px;
    width: 122px;
    max-width: 100%;
    align-items: center;
    padding: 16px 20px;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-top: 40px;
    }
  }
  .div-26 {
    justify-content: center;
    color: #000;
    text-align: center;
    border-radius: 45px;
    background-color: #d9d9d9;
    align-self: end;
    margin-top: 507px;
    align-items: center;
    padding: 16px 20px;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-26 {
      margin-top: 40px;
    }
  }
  .div-27 {
    background-color: #d9d9d9;
    align-self: stretch;
    display: flex;
    width: 36px;
    height: 727px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-27 {
      display: none;
    }
  }
  .div-28 {
    align-self: start;
    display: flex;
    margin-top: 27px;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
    }
  }
  .div-29 {
    color: #000;
    text-align: center;
    align-self: stretch;
    white-space: nowrap;
    font: 500 24px/29px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-30 {
    align-self: stretch;
    display: flex;
    margin-top: 54px;
    padding-right: 2px;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    }
  }
  .div-31 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #d9d9d9;
    align-self: stretch;
    flex-grow: 1;
    padding: 8px 20px;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      white-space: initial;
    }
  }
  .img-9 {
    aspect-ratio: 1.68;
    object-fit: contain;
    object-position: center;
    width: 37px;
    stroke-width: 3px;
    stroke: #000;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .div-32 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #d9d9d9;
    align-self: stretch;
    flex-grow: 1;
    padding: 8px 20px;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-32 {
      white-space: initial;
    }
  }
  .img-10 {
    aspect-ratio: 1.68;
    object-fit: contain;
    object-position: center;
    width: 37px;
    stroke-width: 3px;
    stroke: #000;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .div-33 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #d9d9d9;
    align-self: stretch;
    flex-grow: 1;
    padding: 10px 20px;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      white-space: initial;
    }
  }
  .div-34 {
    border-radius: 30px;
    background-color: #d9d9d9;
    align-self: stretch;
    margin-top: 28px;
    padding: 12px 50px 21px 10px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-35 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-35 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-36 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-36 {
      margin-top: 40px;
    }
  }
  .div-37 {
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .div-38 {
    color: #000;
    text-align: center;
    margin: auto 0;
    font: 400 15px/22.5px Poppins, sans-serif;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 80px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 92px;
    overflow: hidden;
    align-self: end;
    margin-top: 21px;
    max-width: 100%;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-39 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-39 {
      margin-top: 40px;
    }
  }
  .div-40 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 80px;
    overflow: hidden;
    max-width: 100%;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 80px;
    opacity: 0.8;
    overflow: hidden;
    max-width: 100%;
  }
  .img-15 {
    aspect-ratio: 2.42;
    object-fit: contain;
    object-position: center;
    width: 223px;
    overflow: hidden;
    align-self: center;
    margin-top: 18px;
  }
  .div-41 {
    color: #000;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    border-radius: 30px;
    background-color: #d9d9d9;
    align-self: start;
    margin-top: 37px;
    width: 366px;
    max-width: 100%;
    padding: 15px 20px;
    font: 400 16px/19px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-41 {
      white-space: initial;
      padding: 0 6px 0 5px;
    }
  }